<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Eye bnb</title>

    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
      
<script type="text/javascript">
    get_single_inputs = function () {
        let single = $("input#single_event").val()
        console.log(single);
        return {'single_id': single}
    };
    get_highest_inputs = function () {
        let highest_exp = $("input#highest_exposure").val()
        return {'highest_exp': highest_exp}
    };
    let send_inputs_json = function (inputs) {
        $.ajax({
            url: '/predict',
            contentType: "application/json; charset=utf-8",
            type: 'POST',
            success: function(data) {
                display_results(data);
            },
            data: JSON.stringify(inputs)
        });
    };
    let display_results = function(results) {
        $('div#results').html(results)
        };
    
    $(document).ready(function(){
        $("button#retrieve_id").click(function(){
            let inputs = get_single_inputs();
            url = inputs.single_id
            user_img_tag = '<img src="'+url+'"/>' 
            $("div#userImg").html(user_img_tag)
            send_inputs_json(inputs);
        })
        $("button#retrieve_highest").click(function(){
            let inputs = get_highest_inputs();
            send_inputs_json(inputs);
        })
    })

</script> 
</head>
 
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-danger fixed-top">

      <a class="navbar-brand font-weight-bold text-white" href="index.html">Eye bnb</a>
    
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
          <div class="row">
              <div class="col-md-9">
                    <h3>Discover Airbnb lodges and apartments for your fabulous journey!</h3>
                    <h4 class="text-secondary">Have seen one somewhere online?</h4>
                    <p>Please paste your image url here!</p>          
                    <input id="single_event" />
                    <button type="button" class= "btn btn-danger" id="retrieve_id">Go!</button>
                    <p><span id="single_result"></span></p>
              </div>
              <div class="col-md-3">
                  <div class="img-thumbnail" id="userImg"></div>
              </div>
          </div>
      </div>
    </div>



    
      <div class="container">
        <div class="row" id="results">

        </div>
      </div>

      <footer>
        <p>&copy; EyeBnb_Chen 2018</p>
      </footer>
 
</body>

    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->


    <!--   <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
 --> 
</html>



